.footer {
  font-size: 0.8rem;
  background: $gray;
  height: 150px;
  color: $light-gray;
  padding: 2rem 0;
}

.social-icon a {
  text-decoration: none;
  color: $light-gray;
  font-size: 1.2rem;
}
