.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  height: 80px;
  transition: 300ms background-color ease;
}

.navbar-lewagon-black {
  background-color: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo a {
  font-family: $logo-font;
  font-size: 2.4rem;
  text-decoration: none;
  color: $oatmeal;
  font-weight: bold;
  transition: 300ms;
}

.logo a:hover {
  color: $acid;
}
